//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  .subscribe-container {
    padding: @indent__ss 0;
    background-color: @primary__color__gold;
  }
  .newsletter {
    display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
    align-items: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
    justify-content: space-between;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
    flex-direction: column;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
    &-title {
      font-size: @font-size__xl;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      &::before {
        content: @fa-var-telegram-plane;
        color: @color-black;
        font-size: @font-size__xll;
        margin-right: @indent__base;
        font-family: @icons__font-name-fa;
      }
    }
    & input[type="email"] {
      width: 300px;
      border-radius: @indent__xll;
      padding: @indent__base 0 @indent__base @indent__l;
      margin-top: @indent__base;
    }
    & input:not([disabled]):focus {
      box-shadow: none;
    }
    .content {
      overflow: hidden;
    }
  }
  .block.newsletter {
    width: 100%;
    margin-bottom: 0;
  }
  .block.newsletter {
    .form.subscribe {
      position: relative;
    }
    .actions {
      position: absolute;
      bottom: 0;
      right: 86px;
    }
    & .field .control::before {
      content: none;
    }
    .action.subscribe {
      border-radius: 0 @indent__m @indent__m 0;
      width: 90px;
      padding: 13px 0;
      background: @color-black;
      border: none;
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .newsletter {
    flex-direction: row;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
    flex-wrap: wrap;
      -ms-flex-wrap: wrap;
    & input[type="email"] {
      margin-top: 0;
    }
  }
  .block.newsletter {
    width: 100%;
    .action.subscribe {
      border-radius: 0 @indent__m @indent__m 0;
    }
  }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l) {
  .newsletter {
    & input[type="email"] {
      width: 420px;
    }
  }
}