input[type="text"].input-wrap {
  border: 2px solid darken(@color-yellow1, 6%);
  border-radius: @indent__xl + 10;
  padding: @indent__base (@indent__base - 2);
}

.block-search {
  float: none;
  padding-left: 0;
  width: 35%;
  border-radius: 50px;
  overflow: hidden;
  .control {
    padding: 0;
  }
  .actions {
    width: @indent__xl + 20;
    height: @indent__xl + 10;
    position: absolute;
    background: darken(@color-yellow1, 8%);
    right: 0;
    top: 0;
    .search {
      margin-top: @indent__xs;
      top: 0;
      left: 0;
      margin-left: @indent__s + 7;
      &::before {
        color: @color-black;
        content: @fa-var-search;
      }
    }
  }
}