//
//  Common
//  _____________________________________________

& when (@media-common = true) {
  input[type="text"].input-wrap {
    border: 2px solid @primary__color__gold;
    border-radius: @indent__xll;
    padding: @indent__base;
  }
  .block-search {
    float: none;
    padding-left: 0;
    .control {
      padding: 0;
      border: 0;
    }
    .actions {
      display: none;
    }
  }
}

//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
  .block-search {
    width: 400px;
    overflow: hidden;
    .actions {
      display: block;
      .search {
        width: 70px;
        height: 32px;
        float: none;
        background: @primary__color__gold;
        top: 0;
        right: 0;
        border-radius: 0 @indent__xll @indent__xll 0;
        &::before {
          content: @fa-var-search;
          font-family: @icons__font-name-fa;
          color: @color-black;
          font-size: @font-size__l;
        }
      }
    }
    .control {
      padding: 0;
    }
  }
  .block-search .label.active + .control input {
    position: static;
    margin-left: 0;
    width: 400px;
  }
  .block-search .action.search:hover {
    background: @primary__color__gold;
  }
}